/* Variables */
:root{
    --main: #322f3d;
    --secondary: #59405c;
    --tertiary: #87556f;
    --compliment: #4b5d67;
}

/* Website */
.bubble{
    margin: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    color: white;
    background-color: var(--tertiary);
    box-shadow: 1rem 1rem #613b4e;
    border: 0.01rem solid #a7718d;
}
.showcasetitle{
    border-bottom: 0.01rem dashed white;
    margin-bottom: 2rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project > img {
    width: 20rem;
    height: 12rem;
    border: 0.5rem solid #425158;
    border-radius: 2rem;
  }
  .project {
    background-color: #4b5d67;
    padding: 1rem;
    width: 25rem;
    text-align: center;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem #344249;
  }

.deployed_codebase{
    padding-top: 0.5rem;
}
.deployed_codebase i{
    margin: 1rem;
    font-size: 2rem;
    opacity: 0.5;
    transition: 1s;
}
.deployed_codebase i:hover{
    opacity: 1;
    transform: rotate(360deg);
}
.deployed_codebase a{
    color: white;
}

  /* Mobile */
@media (max-width: 43em) {
    
}

/* Tablet */
@media (max-width: 62em) {
    .project{
        min-width: 100%;
        font-size: 1rem;
    }
    .project img{
        max-width: 100%;
        border-radius: 2rem;
    }
}