/* Variables */
:root{
    --main: #322f3d;
    --secondary: #59405c;
    --tertiary: #87556f;
    --compliment: #4b5d67;
}

/* Wesbite */
.Nav {
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    min-width: 25rem;
}
.pfp{
    border-radius: 100%;
    max-width: 100%;
    height: auto;
    width: 18rem;
    border: 0.075rem dashed white;
    padding: 1rem;
}
.name{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    font-weight: lighter;
    border-bottom: 0.05rem solid white;
    border-top: 0.05rem solid white;
}
.info{
    margin: 2rem;
    text-align: center;
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
li {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 0.075rem dashed white;
    border-radius: 5rem;
    opacity: 0.5;
    transition: 1s;
}
li:hover{
    background-color: var(--secondary);
    font-style: italic;
    border: 0.075rem solid white;
    opacity: 1;
}
.socials{
    padding-top: 0.5rem;
}
.socials i{
    margin: 1rem;
    font-size: 2rem;
    opacity: 0.5;
    transition: 1s;
}
.socials i:hover{
    opacity: 1;
    transform: rotate(360deg);
}
.lilabout{
    font-size: 1.2rem;
    border-bottom: 0.01rem solid white;
    font-family: 'Baloo Tammudu 2', cursive;
    margin: 0;
    font-weight: lighter;
    opacity: 0.95;
}

/* Mobile */


/* Tablet */