/* Variables */
:root{
    --main: #322f3d;
    --secondary: #59405c;
    --tertiary: #87556f;
    --compliment: #4b5d67;
}

/* Website */
.Projects{
    background-color: var(--secondary);
    width: 100%;
}
.secondary{
    margin-top: 8rem;
}

/* Mobile */
@media (max-width: 43em) {
    
}

/* Tablet */
@media (max-width: 62em) {
    .secondary{
        margin-top: 0rem;
    }
}